.crystal {
    border: 1px solid green;
    height: 100px;
    width: 100px;
    /* just inserted v */
    float: right;
    padding: 50px;
    margin: 50px;
}

.crystals {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    align-items: center;
}